.about-me-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; // Ensures all content is aligned to the center
  width: 100vw; // Ensure the container takes the full viewport width
  min-height: 100vh; // Ensure the container takes minimum full viewport height
  // background-image: url('/slanted-gradient.svg'); // Moved here for clarity, adjust as needed
  background-size: cover; // Ensure the background covers the entire container
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Prevent the background image from repeating
}

.about-me-section {
  width: 80%; // Adjusted for demonstration, change based on your design
  display: flex;
  justify-content: center; // Center the content by default
  margin: 40px 0; // Increase vertical spacing between sections
  z-index: 2; // Ensure text is above the background

  p {
    max-width: 38%; // Adjust based on your design needs
    line-height: 1.6; // Improves readability
    padding: 20px; // Add padding for better spacing and readability
    background-color: rgba(
      249,
      249,
      249,
      0.9
    ); // Slightly transparent to show background
    border-radius: 10px; // Optional: adds rounded corners for stylistic effect
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Optional: adds a subtle shadow for depth
    position: relative; // Needed for z-index to work correctly
  }

  &.left p {
    text-align: left;
    margin: 0 auto 0 10rem; // Adjust based on your design
  }

  &.right p {
    text-align: right;
    margin: 0 10rem 0 auto; // Adjust based on your design
  }
}

@media (max-width: 768px) {
  .about-me-container {
    padding: 20px; // Reduced padding on smaller screens
  }

  .about-me-section p {
    text-align: justify; // For better readability on smaller screens
    margin: 20px 0; // Adds margin to separate paragraphs vertically on small screens
    max-width: 100%; // Use more screen space for the text on small screens
  }
}

// .about-me-container {
//   padding: 60px;
//   display: flex;
//   flex-direction: column;
//   align-items: center; // Ensures all content is aligned to the center
// }

// .about-me-section {
//   width: 100%;
//   display: flex;
//   justify-content: center; // Center the content by default
//   margin: 40px 0; // Increase vertical spacing between sections

//   p {
//     max-width: 50%; // Reduce max width to bring text closer to center
//     line-height: 1.6; // Improves readability
//     padding: 20px; // Add padding for better spacing and readability
//     background-color: #f9f9f9; // Optional: adds background color to make paragraphs stand out
//     border-radius: 10px; // Optional: adds rounded corners for stylistic effect
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Optional: adds a subtle shadow for depth
//   }

//   &.left p {
//     text-align: left;
//     margin: 0 auto 0 10rem; // Adjusts margin to push paragraph slightly to the left center
//   }

//   &.right p {
//     text-align: right;
//     margin: 0 10rem 0 auto; // Adjusts margin to push paragraph slightly to the right center
//   }
// }

// @media (max-width: 768px) {
//   .about-me-section p {
//     text-align: left; // Standardizes text alignment for readability on small screens
//     margin: 0; // Resets margins to center the paragraph on small screens
//     max-width: 80%; // Increases width for better utilization of space on small screens
//   }
// }
