.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-inputs {
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      .input-row {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: fit-content;
      }

      .input-group {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        input,
        textarea {
          font-size: 16px;
          padding: 8px;
          margin-bottom: 20px; // Space below each input group
        }

        textarea {
          width: calc(100% - 19px);
          height: 100px;
          resize: vertical;
          max-height: 300px; // Adjust this as needed
        }
      }
    }

    button {
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}


@media (max-width: 600px) {
  .contact-form form .input-row {
    flex-direction: column;
    align-items: stretch; // Make children fill the width

    .input-group {
      margin: 0; // Reset margins for stacked layout
    }
  }
}