.projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100vw; // Ensure the container takes the full viewport width
  min-height: 100vh; // Ensure the container takes minimum full viewport height
  background-size: cover; // Ensure the background covers the entire container
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Prevent the background image from repeating
}

.project {
  display: flex;
  width: 45%;
  max-width: 50vw; // Restricts project width to viewport width
  overflow: hidden; // Ensures content beyond the viewport width is not visible
  background-color: rgba(
    249,
    249,
    249,
    0.9
  ); // Slightly transparent to show background
  border-radius: 10px; // Optional: adds rounded corners for stylistic effect
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:nth-child(even) {
    flex-direction: row-reverse; // Text on the left, image on the right for odd projects
  }

  &:nth-child(odd) {
    flex-direction: row; // Image on the left, text on the right for even projects
    align-self: flex-end;
  }

  .project-description,
  .project-image {
    flex-basis: 50%; // Each takes up to 50% of the project container
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .project-description {
    z-index: 2; // Ensures text is above the image if they overlap
  }

  .project-image {
    max-width: 25vw; // Image width up to 50% of the viewport width
    img {
      width: 100%; // Image fills the container width
      height: auto; // Maintains aspect ratio
    }
  }
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    text-align: center; // Centers text for smaller screens

    .project-description,
    .project-image {
      flex-basis: auto; // Resets basis for stacked layout
      max-width: 80%; // Reduces width for smaller screens
    }
  }
}
